body {
    flex: auto;
    color: black;
    font-family: 'Domine', serif;
    font-size: 17.2px;

}

h2 {
    padding-top: 15px;
    padding-bottom: 30px;
    color: rgba(59, 59, 59, 0.815)

}

#otsikko {
    padding-top: 50px;
    margin: auto;
    height: 200px;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    text-align: center;
    
}

#navi {
    background-image: url('./images/kivet.jpg'); 
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 500px;  

}

#boksi {
    background-color: rgba(0, 0, 0, 0.301);
    font-size: 50px;
    color: rgb(255, 255, 255);
    height: 60%;
    width: 60%;
    position: relative;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    text-align: center;
    padding-top: 50px;
    font-family: 'Dancing Script', cursive;

}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button {
    padding: 15px;
    height: 40%;
    width: 35%;
    opacity: 1.0;
    align-items: center;
    margin-top: 13%;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    background-color: white;
    
}

a {
    color: rgb(0,0,0);
    font-weight: 700;
    font-size: 22px;
      
}

#hinnasto {
    text-align: center;
    border-bottom: 2px solid black;
    font-weight: 700;
    
}

#logo1 {
    height: 8%;
    width: 8%;
}

#logo2 {
    height: 8%;
    width: 8%;
}

#logo3 {
    height: 4%;
    width: 4%;
}

#logo4 {
    height: 12%;
    width: 12%;
}

#tietoja {
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#toimisto {
    border-bottom: 2px solid black;
    text-align: center;
    padding-top: 20px;
}

#kuva {
    width: 35%;
    height: 35%;
    position: relative;
    border-radius: 10%;
}

#esittely {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

footer {
    background-color: rgb(27, 27, 27);
    text-align: center;
    font-style: bold;
    font-size: 30px;
    color: white;
    padding-top: 20px;
    font-family: 'Libre Baskerville', serif;
}

#tiedot {
    
    font-style: bold;
    font-size: 20px;  
}

#fb-logo {

    height: 5%;
    width: 5%;
}