
body {
    
    background-color: rgb(255, 255, 255);
    flex: auto;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 17.2px;

}

#otsikko {
    margin: auto;
    height: 20%;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    text-align: center;
    max-width: 100%;
    
}




#navi {
    background-image: url('./images/kivet.jpg'); 
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 500px;
    
      
}

#navitem:hover {
    background-color:rgba(158, 158, 158, 0.767);
    
}


#boksi {
    background-color: rgba(0, 0, 0, 0.301);
    font-size: 3rem;
    color: rgb(255, 255, 255);
    height: 60%;
    width: 60%;
    position: relative;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    text-align: center;
    padding-top: 50px;
    font-family: 'Dancing Script', cursive;
}

a {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-decoration: none !important;
    font-size: 1.125rem;
    color:rgb(255, 255, 255)
    
}

a:hover {
    cursor: pointer;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button {
    padding: 15px;
    height: 30%;
    width: 25%;
    opacity: 0.875;
    align-items: center;
    margin-top: 5%;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(158, 158, 158, 0.767);
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

a:hover {
    color:rgb(255, 255, 255);
}

#toimisto {
    text-align: center;
    border-bottom: 2px solid black;
    
}

#kuva {
    width: 70%;
    height: 70%;
    position: relative;
    border-radius: 10%
}

#esittely {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

h2 {
    padding: 30px;
}
#artikkeli {
    text-align: center;
    padding-bottom: 50px;
    
}

#tietoja {
    margin: 5%;
    font-style: italic;
    font-size: 0.85rem;
}

#logot {
    padding-top: 10%;
    padding-bottom: 10%;
    
}

#logo-smartum {
    height: 14%;
    width: 23%;
    padding-left: 10px;
}

#logo-mobile {
    height: 17%;
    width: 24%;
}

#logo-epassi {
    height: 9%;
    width: 15%;
    padding-left: 10px;
}

#logo-eazy {
    height: 15%;
    width: 27%;
    padding-left: 10px;
}

#logo-kortit {
    height: 9%;
    width: 18%;
    padding-left: 10px;
    
}

#logo-lahi {
    height: 9%;
    width: 18%;
    padding-left: 10px;
}

#nappula {
    height: auto;
    width: auto;
}

#nappula:hover {
    background-color: red;
}

#palaute {
    padding: 20px;
}

#nappi-send:hover {
    background-color: rgba(42, 250, 0, 0.76);
}

#nappi-close:hover {
    background-color: red;
}

footer {
    background-color: rgb(27, 27, 27);
    text-align: center;
    font-style: bold;

    color: white;
    padding-top: 20px;
    
}

a[href^=tel] { 
    color: inherit; 
    text-decoration: inherit;
    font-size: inherit; 

}
 

#tiedot {
    
    font-style: bold;
    
}

#fb-logo {

    height: 21%;
    width: 12%;
    margin: 3%;
}

@media only screen and (max-width: 768px) {
    #otsikko {
        font-size: 2.75rem;
    }
    body {
        font-size: 0.75rem;
    }

    #navi {
        height: 40%;
    }
    #boksi {
        font-size: 1.75rem;
    }
    button {
        height: 30%;
        width: 55%;
    }
    
    a {
        font-size: 0.5rem;
        
    }
}

@-moz-document url-prefix() {
    #logo1 {
        height: 7%;
        width: 18%;
        padding-left: 10px;
    }
    
    #logo2 {
        
        height: 13%;
        width: 22%;
    }
    
    #logo3 {
        height: 7%;
        width: 16%;
        padding-left: 10px;
    }
    
    #logo4 {
        height: 9%;
        width: 22%;
        padding-left: 10px;
    }
    
    #logo5 {
        height: 5%;
        width: 15%;
        padding-left: 10px;
        
    }
    
    #logo6 {
        height: 5%;
        width: 15%;
        padding-left: 10px;
    }

    #nappula {
        height: auto;
        width: auto;
    }
}
